{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div>
<h1>Контакты</h1>

<p><strong>Телефон:</strong>&nbsp;+7 (812) 923-78-10</p>

<p><strong>Адрес:</strong>&nbsp;Санкт-Петербург, Невский проспект 128, Синопская набережная 30.</p>

<p><strong>E-mail:</strong>&nbsp;sigiriya-spb@yandex.ru</p>

<p><strong>Часы работы:</strong>&nbsp;Пн-Пт: 9:00 - 18:00 , Сб-Вс: - Выходной</p>

<p></p>

<div id="ymaps-map-id_13409768155846874245" style="width: 350px; height: 350px;"></div>
<p></p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
&nbsp;</div>
{% endblock %}